/* Reset default margin and padding */
body, h1 {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F0F0F0;
}
 
header {
    background:#0052ff;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    margin: 0;
    font-weight: 600; /* Add a bit of weight to the text for emphasis */
    text-transform: uppercase; /* Uppercase text for a modern look */
    letter-spacing: 2px; /* Increase letter spacing for a stylish effect */
    color: #2A6EF0; /* A nice and matching color for the title */
}
.linkedin-button {

    width: 100%;
}


.ticker-container {
    width: 100%;
    background: #0052ff;; /* Coin-holders gradient background */
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
}

@keyframes subtle-glow {
    0% {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    100% {
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Slightly stronger glow */
    }
}

.coin-holders {
    width: 30px;
    height: 30px;

}

.coin-price {
    font-size: 18px;
    display: center;
    text-align: center;
}


/* Position LinkedIn button at the bottom of the screen */
.linkedin-button {
    position: fixed;
    bottom: 20px;
    left: 50%; /* Center the button horizontally */
    transform: translateX(-50%); /* Adjust for center alignment */
}

/* Style for the LinkedIn icon */
.linkedin-icon {
    width: 55px; /* Adjust the size of the LinkedIn icon as needed */
    
}

/* Existing styles */

/* Style for the search bar */
.search-bar {
    text-align: center;
    margin: 20px 0;
}

#coin-search {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
